{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <div class="container">
        <div class="profil-grid">
            <div class="username-grid" style="background-color: lightseagreen"><h1>Username</h1></div>
            <div style="background-color: lightblue"><a href="{{ path('app_avatar') }}">Avatar</a></div>
            <div style="background-color: lightcyan">Profil Description</div>
            <div class="detail-buttons" style="background-color: lightgreen">
                <a>Games</a>
                <a>Reviews</a>
                <a>Games</a>
            </div>
        </div>
    </div>
{% endblock %}