{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="admin-table">
            <div class="admin-button">
                <a href="{{ path('admin_games') }}">Games</a>
            </div>
            <div class="admin-button">
                <a href="{{ path('admin_games') }}">Category</a>
            </div>
            <div class="admin-button">
                <a href="{{ path('admin_games') }}">Developers</a>
            </div>
            <div class="admin-button">
                <a href="{{ path('admin_games') }}">Users</a>
            </div>
        </div>
    </div>
{% endblock %}