.avatar-grid{
    display: grid;
    margin-top: 5%;
    grid-template: 500px 100px / 500px 200px;
}
.stuffs-grid{
    display: grid;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    grid-template: 100px 500px / 100px 100px 100px 100px 100px 100px 100px;
}
.current-avatar{
    grid-column: 1 / 3;
    background-color: lightgreen;
}
.avatar-color{
    display: grid;
    grid-template: 50px 50px / 50px 50px 50px 50px;
    padding: 0% 35%
}
.head{
    width: 512px;
    height: 512px;
    background-size: cover;
    background-image: url("../../public/media/avatar/head/head1/tile000.png");
    margin: 0% 98px;
}
.options{
    grid-column: 1 / 8;
}
.item{
    height: 128px;
    width: 128px;
}
.hair{
    position: absolute;
    width: 512px;
    height: 512px;
    background-size: cover;
    background-image: url("../../public/media/avatar/hair/hair1/tile000.png");
}
.eyes{
    position: absolute;
    width: 512px;
    height: 512px;
    background-size: cover;
    background-image: url("../../public/media/avatar/eyes/eyes1/tile000.png");
}
.mouth{
    position: absolute;
    width: 512px;
    height: 512px;
    background-size: cover;
    background-image: url("../../public/media/avatar/mouth/mouth1/tile000.png");
}
.nose{
    position: absolute;
    width: 512px;
    height: 512px;
    background-size: cover;
    background-image: url("../../public/media/avatar/nose/nose1/tile000.png");
}
.cloth{
    position: absolute;
    width: 512px;
    height: 500px;
    background-size: cover;
    background-image: url("../../public/media/avatar/cloth/cloth1/tile000.png");
}
.Submit-btn{
    height: 100px;
    width: 150px;
}
.clr_radio{
    display: none;
    position: absolute;
}
.radio-btn{
    display: none;
}