.clear-cart{
    width: 100%;
    text-align: center;
}
.cart-table{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 25px;
    color: white;
}
.cart-product{
    width: 100%;
    display: grid;
    grid-template: 100px 150px / 75% 25%;
    background-color: var(--third-color);
}
.cart-title{
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--background);
}
.cart-gift{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-right: 2px solid var(--background);
}
.gift-checkbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.giftbox{
    height: 35px;
    width: 35px;
}
.gift-sendto{
    width: 100%;
    text-align: center;
    display: none;
}
.cart-friend{
    position: absolute;
    width: 40%;
    height: 150px;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--nav-bar);
}
.cart-price{
    text-align: center;
}
.cart-remove-btn{
    background-color: black;
    padding: 5px;
    border-radius: 5px ;
}
.checkout-section{
    padding: 15px;
    margin-top: 25px;
    width: 80%;
    background-color: var(--third-color);
    display: flex;
}
.total-zone{
    width: 50%;
    text-align: center;
    color: white;
    font-size: 24px;
    margin: 0;
}
.code-promo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.code-input{
    margin: 0;
    height: 30px;
    width: 100%;
}
.code-submit{
    margin: 0;
    height: 40px;
}
.buy-btn{
    background-color: var(--nav-bar);
    padding: 15px;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
}
.buy-btn:hover{
    background-color: var(--background);
}