.cart{
    width: 100%;
}
.cart-table{
    width: 100%;
    background-color: white;
}
.cart-table-line{
    border-bottom: 1px solid var(--nav-bar);
    border-right: 1px solid var(--nav-bar);
    padding: 10px;
    font-size: 1.8rem;
}
.text-center{
    font-size: 1.3rem;
    text-align: center;
    border-right: 1px solid var(--nav-bar);
    border-bottom: 1px solid var(--nav-bar);
}
.clear-cart{
    margin-bottom: 20px;
}
.cart-frame{
    border: 3px solid black;
    background-color: black;
    margin-top: 20px;
}
.cart-stuffs{
    display: flex;
    justify-content: space-around;
}
.buy-button{
    margin-left: 25px;
}
.table-test{
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-btn{
    margin-left: 50px;
}
.code-promo {
    font-size:36px;
}
.price-text{
    color: white;
}
@media screen and (max-width: 768px) {
    .cart-table{
        border-spacing: 50px;
    }
}
@media screen and (max-width: 625px) {
    .cart-table{
        border-spacing: 25px 50px;
    }
    .price-text{
        margin-left: 5px;
        font-size: 15px;
    }
}