.comment-form{
    width: 75%;
}
.comment-text-area{
    resize: none;
    height: 250px;
    font-size: 32px;
    width: 100%;
}
.comment-table{
    background-color: white;
    margin-bottom: 20px;
    width: 75%;
    border-radius: 25px;
    padding: 15px;
    display: grid;
    grid-template: auto / 23% 77%;
    grid-gap: 15px;
}
.comment-avatar{
    width: 132px;
    height: 132px;
    background-color: lightblue;
    border: black 2px solid;
    border-radius: 15px;
}
.comment-username{
    grid-column: 1 / 3;
}
.comment-username a{
    color: black;
}
.rad-15{
    border-radius: 15px;
}
.comment-zone{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-area{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}
.comment-submit-button{
    border-radius: 15px;
    border: 3px solid black;
    background-color: white;
    font-weight: bold;
    font-size: 24px;
    width: 150px;
    height: 75px;
}
.comment-submit-button:hover{
    background-color: lightgray;
}
.comment-content-text{
    word-wrap: break-word;
}
.comment-content{
    max-width: 90%;
    word-wrap: break-word;
}
.comment-avatar-box{
    display: flex;
    justify-content: center;
}