@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
    font-family: var(--font-etc);
}

:root{
    --font-title : 'Life Savers', cursive;
    --font-etc : 'Indie Flower', cursive;

    --color_1 : #ffadad;
    --color_2 : #1b9aaa;
    --color_3 : #caffbf;
    --color_4 : #fdffb6;
    --color_5 : #a0c4ff;
}
body{
    background-color: var(--color_1);
    margin: 0px;
}
nav{
    background-color: var(--color_2);
    height: 100px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.nav-item{
    background-color: var(--color_3);
}
.nav-game{
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    padding-left: 2%;
}
.nav-logo{
    height: 100px;
    text-align: center;
}
#logo{
    cursor: pointer;
}
.nav-login{
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
}
.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------- */