@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marhey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'War';
    src: url('../font/War is Over.ttf');
}

:root{
    --font-title : 'Life Savers', cursive;
    --font-etc : 'Poppins', sans-serif;
    --font-test: 'War';

    --background : #B30C30;
    --game-card : #F7D18A;
    --game-card-alt : #A58750;
    --box-color : #D3AD66;
    --nav-bar : #FF2B59;
    --third-color : #780820;
    --hover : #42335e;
    --rad-7 : 7px;
}
body{
    margin: 0px;
    background-color: var(--background);
    font-family: var(--font-etc);
    background-image: url("../imgs/background.png");
    background-size: 200px;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.friend-avatar{
    height: 128px;
    width: 128px;
    background-color: #5eb5e0;
    z-index: 1;
}
.notification-table{
    height: 200px;
    width: 100%;
    background-color: #42335e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#notification{
    width: 40px;
}
.accept-button{
    background-color: green;
}
.accept-button:hover{
    background-color: darkgreen;
}
.accept-button:active{
    background-color: forestgreen;
}
.refuse-button{
    background-color: red;
}
.refuse-button:hover{
    background-color: darkred;
}
.refuse-button:active{
    background-color: orangered;
}
.decide-btn{
    height: 50px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
}
.notif-box{
    width: 40%;
    background-color: var(--game-card);
    margin: 5px;
    color: black;
    height: 50%;
    padding: 1rem;
    border-radius: 1rem;
}
.Text-Center{
    text-align: center;
}
.avatar-Flex-Zone{
    position: relative;
    display: flex;
    justify-content: center;
}
.decision-zone{
    display: flex;
    justify-content: space-around;
    margin: 15px
}
.gift-Game-Cover{
    margin-left: 10%;
    width: 80%;
}
.nav-zone-1{
    display: flex;
    align-items: center;
}
.nav-zone-2{
    display: flex;
    align-items: center;
}
.nav-test{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-bar);
}
.nav-logo-zone{
    background-color: var(--nav-bar);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.homeButton{
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100%;
}
.nav-title{
    font-size: 36px;
    color: white;
    font-family: 'War', Arial;
}
#menu-burger{
    display: none;
    width: 50px;
    height: 50px;
    background-image: url("../../public/media/menu-burger.png");
    background-size: contain;
    background-repeat: no-repeat;
}
nav{
    background-color: var(--nav-bar);
    max-height: 90px;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
}
.nav-left-side{
    height: 90px;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-mid-side{
    width: 35%;
    display: flex;
    justify-content: center;
}
.nav-right-side{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#slider-menu{
    z-index: 5;
    position: absolute;
    width: 28%;
    height: 0;
    transition: 300ms;
    background-color: var(--nav-bar);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.slide-element{
    display: none;
    font-size: 0;
    transition: 300ms;
}


/* ---------------------------------- */
.sale-zone{
    width: 60%;
    height: auto;
    background-color: rgba(120, 8, 32, 0.5);
}

.slide-buttons{
    height: auto;
    width: 50%;
    background-color: var(--nav-bar);
    text-align: center;
    color: white;
    font-size: 24px;
    border: 3px solid var(--third-color);
    margin: 5px;
    cursor: pointer;
}
#current-sale{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 500ms;
}
#sale-cover{
    transition: 500ms;
}
.sale-arrows{
    width: 100%;
    height: auto;
    display: flex;
}

.games-section{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.popular-games{
    padding: 15px;
    background-color: var(--nav-bar);
    width: auto;
    border-radius: 15px;
    margin-bottom: 50px;
}
.ranking-label{
    background-color: white;
    padding: 5px;
    text-align: center;
    color: var(--third-color);
    font-weight: bold;
    display: block;
    margin: 15px;
    border-radius: 15px;
}
.rank-title{
    background-color: white;
    padding: 5px;
    text-align: center;
    color: var(--third-color);
    font-weight: bold;
    border-radius: 15px;
}
.ranking-label:hover{
    background-color: #cecece;
}
.search-friend-table{
    width: 100%;
    height: auto;
    background-color: var(--game-card);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.user-search-results{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}
.user-card{
    width: auto;
    padding: 15px;
    height: 50px;
    background-color: var(--game-card-alt);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-username{
    font-size: 24px;
}
@keyframes slidedown {
    from {
        font-size: 0;
    }
    to {
        font-size: 16px;
    }
}
@keyframes slideup {
    from{
        font-size: 16px;
    }
    to{
        height: 0px;
    }
}