.card{
    background-color: var(--game-card);
    display: grid;
    grid-template: 180px 80px 40px / 250px;
    height: 300px;
    border-radius: var(--rad-7);
    margin: 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.10);
}
.card:hover .card-highlight{
    background-color: rgba(240,255,241,0.75);
}
.card:hover .card-price-tag{
    font-size: 32px;
}
.card:hover .card-detail{
    display: block;
}
.card-highlight{
    height: 300px;
    width: 250px;
    position: absolute;
    transition: 0.5s;
    background-color: rgba(240,255,241,0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-detail{
    display: none;
    font-size: 32px;
}
.card-name{
    text-align: center;
    font-size: 18px;
}
.card-price{
    background-color: #F0FFF1;
}
.card-price-tag{
    position: relative;
    margin: 0px;
    font-size: 24px;
    text-align: center;
    z-index: 0;
}
.image{
    height: 100%;
    width: 100%;
    border-radius: var(--rad-7);
}
.card-text{
    color: white;
    font-size: 16px;
}
.link-button{
    text-decoration: none;
    color: #240046;
    height: auto;
    align-items: center;

    background-size: 170px 55px;
    background-repeat: no-repeat;
}
/* ------------------------- */
.container{
    margin: 2% 10%;
    border-radius: 5px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}
.page{
    display: grid;
    grid-template: 50px 250px / 450px auto ;
    grid-column-gap: 15px;
    width: 100%;
    border-radius: var(--rad-7);
    margin:25px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.title-area{
    margin-left: 5px;
}
.image{
    border-radius: var(--rad-7);
}
.image-area{
    display: flex;
    justify-content: center;
    width: 100%;
}
.title{
    font-family: var(--font-title);
    font-size: 28px;
    line-height: 15px;
}
.description-area{
    margin: 5%;
}
.Carousel{
    width: 100%;
    height: 100%;
    background-color: #1c7430;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.current-img{
    width: 90%;
}
.other-img{
    width: 90%;
    display: flex;
    background-color: #5fc09e;
    overflow: hidden;
    overflow-x: auto;
}

.images-icon{
    width: 5%;
    margin: 1% 1%;
}
.review-section{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 440px;
    width: 100%;
    background-color: red;
    margin: 25px 0px;
}
.review-frame{
    margin: 2%;
    height: 400px;
    width: 300px;
    background-color: blue;
    display: grid;
    grid-template: 100px / 100px 1fr;
}
.review-zone{
    grid-column: 1 / 3;
}

/*--------------------------- */


@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.8);
    }
}
@keyframes unzoom {
    0%{
        transform: scale(1.8);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes clickedFrame {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (min-width: 850px) {
    .title-area{
        grid-column: 1 / 3;
    }
    .image{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 850px) {
    .page {
        grid-template: auto auto auto / auto;
    }
    .title {
        text-align: center;
    }
    .carousel{
        width: 450px;
    }
    .current-image{
        height: 265px;
    }
    .review-frame {
        margin: 3%;
    }
}
@media screen and (max-width: 650px) {
    .image{
        width: 90%;
        height: 100%;
    }
    .carousel{
        width: 350px;
    }
    .current-image{
        height: 205px;
    }
    .review-frame {
        margin: 5%;
    }
    .card{
        grid-template: 180px 80px 40px / 200px;
    }
    .card-highlight{
        width: 200px;
    }
}
