.card{
    background-color: var(--game-card);
    display: grid;
    grid-template: 180px 60px 60px / 250px;
    height: 300px;
    border-radius: 20px 20px 0 0;
    margin: 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.10);
}
.card:hover .card-highlight{
    background-color: rgba(240,255,241,0.75);
}
.card:hover .card-price-tag{
    font-size: 32px;
}
.card:hover .card-detail{
    display: block;
}
.card-highlight{
    height: 300px;
    width: 250px;
    position: absolute;
    transition: 0.5s;
    background-color: rgba(240,255,241,0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-cover{
    border-radius: 20px 20px 0 0;
}
.card-detail{
    display: none;
    font-size: 32px;
}
.card-name{
    text-align: center;
    font-size: 18px;
}
.card-price{
    background-color: #F0FFF1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-price-tag{
    position: relative;
    margin: 0px;
    font-size: 24px;
    text-align: center;
    z-index: 0;
}
.image{
    height: 100%;
    width: 100%;
    border-radius: var(--rad-7);
}
.card-text{
    color: white;
    font-size: 16px;
}
.link-button{
    text-decoration: none;
    color: #240046;
    height: auto;
    align-items: center;

    background-size: 170px 55px;
    background-repeat: no-repeat;
}

.search-bar{

    width: 100%;
    height: 250px;
}
.search-zone{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.search-input{
    height: 48px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.filter-zone{
    display: flex;
    justify-content: center;
}
.category-form{
    margin-top: 10px;
    margin-left: 25px;
}
.reset-filter{
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;
}
/* ------------------------- */
.container{
    margin: 2% 10%;
    border-radius: 5px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}
.page{
    width: 100%;
    display: grid;
    grid-template: 100px 400px 350px auto 100px auto  / 50% 50%;
    gap: 4rem
}
.game-page-title-zone{
    grid-column: 1 / 3;
    width: 100%;
}
.game-title{
    margin: 0px;
    font-size: 64px;
    color: white;
}
.cover-zone{
    width: 90%;
    display: flex;
    justify-content: center;
}
.cover-img{
    width: 100%;
}
.detail-zone{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
.game-text{
    margin: 0px;
}
.cart-button{
    width: 50%;
    height: 25%;
    border-radius: 15px;
    border: white 2px solid;
    margin-top: 1rem;
    background-color: var(--nav-bar);
    cursor: pointer;
}
.cart-button:hover{
    background-color: var(--background);
}
.cart-button:active{
    background-color: black;
}
.desc-zone{
    padding: 5px;
    grid-column: 1 / 3;
    font-size: 24px;
    overflow: auto;
    border-radius: 5px;
    background-color: #780820;
}
.game-desc{
    color: white;
    padding: 0 100px;
}
.category-btn{
    background-color: black;
    padding: 5px 10px;
    margin-right: 5px;
}
.category-page-label{
    color: white;
    font-size: 1.5rem;
}

.category-label{
    color: white;
}

.image-zone{
    margin-top: 15px;
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #780820;
}

.current{
    width: 100%;
}
.current-img{
    width: 100%;
}
.others{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
.img-icon{
    margin: 5px;
    width: 35%;
    display: inline-block;
}
/*
.review-zone{
    position: relative;
    margin-top: 15px;
    background-color: var(--nav-bar);
    border: 5px solid #780820;
    border-radius: 15px;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
}
.review-section{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
}
 */
.review-zone{
    width: 100%;
    background-color: var(--third-color);
    grid-column: 1 / 3;
    text-align: center;
    position: relative;
}
#review-section{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 25px;
    z-index: 3;
}
.arrow-div{
    z-index: 0;
    position: absolute;
    margin-top: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#back-arrow{
    width: 50px;
    height: 50px;
    background-color: blue;
}
#forward-arrow{
    width: 50px;
    height: 50px;
    background-color: yellow;
}
.review-avatar-frame{
    position: relative;
}
.posAB{
    position: absolute;
}
.review-table{
    display: inline-block;
    z-index: 2;
    background-color: white;
    width: 35%;
    border-radius: 15px;
    transition: 0.25s;
    margin: 5px 100px;
}
.review-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 7rem;
}
.review-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.review-username{
    font-size: 1.5rem;
    color: black;
}
.review-score{
    border-radius: 45px;
    padding: 15px;
}
.review-content-zone{
    height: 350px;
    overflow-y: auto;
    margin: 15px;
    background-color: lightgray;
    padding: 10px;
    white-space: normal;
}
.add-comment-review{
    margin: 15px;
    background-color: gray;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}
.add-comment-review:hover{
    background-color: lightgray;
}

@keyframes toLeft {
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(100px);
    }
}
@keyframes toRight {
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(-100px);
    }
}




/*--------------------------- */


@media screen and (max-width: 650px) {
    .card{
        grid-template: 180px 80px 40px / 200px;
    }
    .card-highlight{
        width: 200px;
    }
}
@media screen and (max-width: 1150px) {
    .cover-zone{
        grid-column: 1 / 3;
    }
    .detail-zone{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        font-size: 16px;
    }
    .desc-zone{
        grid-column: 1 / 2;
        font-size: 16px;
    }
}
