.profil-grid{
    display: grid;
    grid-template: 100px 400px / auto 1fr 45%;
    width: 100%;
}
.grid-flex{
    width: 100%;
    display: flex;
    justify-content: center;
}
.profil-username{
    grid-column: 1 / 3;
}
.profil-username-text{
    font-size: 32px;
    margin: 0;
}
.profil-avatar{
    grid-row: 2 / 3;
    display: flex;
    align-items: flex-start;
}
.profil-avatar-frame{
    position: relative;
    background-color: lightblue;
    width: 256px;
    height: 256px;
    border-radius: 15px;
}
.avatar{
    position: absolute;
    width: 256px;
}
.avatar-edit-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#avatar_btn{
    display: none;
    width: 256px;
    height: 256px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 15px;
}
.avatar-edit-div:hover #avatar_btn{
    display: block;
}
.profil-buttons{
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.btn-box{
    margin-bottom: 5px;
    height: 50px;
    width: 250px;
    background-color: var(--nav-bar);
    color: white;
    font-size: 20px;
    font-family: var(--font-etc);
    border-radius: 15px;
    border: 5px solid var(--third-color);
    cursor: pointer;
}
.btn-box:hover{
    background-color: var(--third-color);
    border: 5px solid var(--nav-bar);
}
.profil-bio{
    grid-row: 1 / 3;
}
.profil-bio-zone{
    width: 100%;
    height: 400px;
    font-size: 24px;
    word-wrap: break-word;
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--third-color);
}
#profil-bio-text{
    display: block;
}
#profil-bio-form{
    display: none;
}
#cancel-desc{
    display: none;
}
.form-text-area{
    width: 100%;
    height: 325px;
    font-size: 24px;
    resize: none;
    color: white;
    background-color: var(--third-color);
}

.profil-game-zone{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #42335e;
}
.game-table{
    display: grid;
    grid-template: 150px / 450px 325px 100px 175px;
    margin: 15px;
    background-color: var(--nav-bar);
    border-radius: 10px;
}
.game-table-cover{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.table-cover-img{
    width: 300px;
    border-radius: 10px;
}
.game-table-title{
    display: flex;
    align-items: center;
}
.table-title-text{
    font-size: 20px;
}
.game-table-score{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.game-table-review{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.review-btn{
    height: 50px;
    width: 250px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: var(--font-etc);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review-btn:hover{
    background-color: lightgray;
}

@media screen and (max-width: 1050px) {
    .profil-grid{
        grid-template: 100px 275px 500px / auto 1fr;
    }
    .profil-username{
        grid-column: 1 / 3;
    }
    .profil-buttons{
        grid-column: 2 / 3;
    }
    .profil-bio{
        width: 100%;
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }
    .game-table{
        grid-template: 150px / 250px 250px 50px 150px;
    }
    .table-cover-img{
        width: 200px;
    }
    .table-title-text{
        font-size: 16px;
    }
    .game-table-score{
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {

    .game-table{
        grid-template: 75px 75px/ 250px 250px 150px;
    }
    .game-table-cover{
        grid-row: 1 / 3;
    }
    .game-table-title{
        grid-column: 2 / 4;
    }
    .table-cover-img{
        width: 200px;
    }
    .table-title-text{
        font-size: 20px;
    }
    .game-table-score{
        font-size: 24px;
    }
}
@media screen and (max-width: 670px) {
    .game-table {
        grid-template: 60px 60px/ 125px 125px 75px;
    }
    .table-cover-img {
        width: 100px;
    }
    .table-title-text {
        font-size: 15px;
    }
    .game-table-score {
        font-size: 15px;
    }
    .review-btn {
        font-size: 12px;
    }
    #avatar_btn{
        height: 128px;
    }
    .avatar{
        width: 128px;
        height: 128px;
    }
    .profil-avatar-frame {
        width: 128px;
        height: 128px;
    }
}

