.review-grid{
    width: 75%;
    height: 450px;
    display: grid;
    grid-template: 100px 250px 100px / 50% 50%;
    border: #FF2B59;
}
.review-title{

    width: 100%;
}
.review-cover{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 1/3;
    width: 100%;
}
.review-desc{
    width: 100%;
    overflow: auto;
}
.review-category{

    width: 100%;
    grid-column: 1/3;
    display: flex;
}
.review-category-tag{
    margin: 10px;
}
.review-page{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.review-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.score-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
