{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        {% for game in games %}
            <div class="grid">
                    <div class="box1"><img class="image" src="{{ game.cover }}"></div>
                    <div class="info"><h4>{{ game.name }}</h4><br><a href="{{ path('app_game_page',{'id' : game.id}) }}">Details</a></div>
                {% if game.price == 0 %}
                    <div><h2 class="price">free to play</h2></div>
                {% else %}
                    <div><h2 class="price">{{ game.price }} €</h2></div>
                {% endif %}
                    <div class="info"><a class="link-button" href="#">Add to Cart</a></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}